/* Устанавливаем базовые стили для body и основного контента */
/* Делаем canvas фоном */
canvas {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10 !important; /* Уменьшаем z-index, чтобы точно не перекрывал контент */
    pointer-events: none; /* Запрещаем кликать по canvas */
}

/* Основной контейнер */
body {
    overflow-x: hidden; /* Отключаем горизонтальный скролл */
    background-color: #000; /* Фон чёрный на случай, если canvas не загрузится */
}

/* Секции */
section {
    /*margin-bottom: 40px;*/
}

section h2 {
    margin-bottom: 20px;
}


/* Заголовок секции */
.section-title {
    text-align: center;
    font-size: 2rem;
    color: #eee;
    margin-bottom: 50px;
    text-transform: uppercase;
}